*{
    padding: 0px;
    margin: 0px;
}

.container{
    border-top: 1px double whitesmoke ;
    border-bottom: 1px double whitesmoke ;
}   
.dongba{
    background-image: url(image/backgroud.png);
}
.conho{
    margin: 0px 400px;
}
header{
    background: #bc0000;
    width: 100%;
}
.aaa{
    list-style: none;
    display: block;
}
.aaa li a{
    color:white;
    text-decoration:none;
    font-size: 12px;   
    padding-inline: 50px ;
    font-weight: bolder;
}

.donghai ul > li > a:hover{
    text-decoration:none;
    color: red;
}
.dongba aside ul li{
    text-decoration:none;
    color: white    ;
    list-style: none;
}

.dongba aside ul li a{
    text-decoration:none;
    color: white    ;
    list-style: none;
    padding: 10px 10px;
    float: left;
}

.dongba a:hover{
    color: red;
}

footer{
    font-size: 15px;
    padding: 5px;
    text-align: center;
    background-color: #ccc;
    clear: both;
    width: 100%;
    font-weight: bolder;
    font-variant: small-caps;
}


article{
    float: right;
    width: 80%;
    background-color: brown;
}
article img{
    width: 1050px;
    height: 200px;
    padding: 5px 30px;
    background-color:brown ;
}

iframe[name=page]{
    width: 1070px;
    min-height: 2740px;
    padding-left:10px;
}

aside{
    width:20%;
    float: left;
    background-color: brown;
    height: 2746px;
    border-right: 0.1px double black  ;
}

aside ul{
    color: white;
    font-weight: bolder;
    text-decoration: none;
    margin-top: 20px;
    margin-left: 20px;
}

aside ul ul li a{
    margin-bottom: 10px ;
}


.aaa{
    list-style: none;
    background-color: black;
    height: 40px;
    clear: both;
}
ul.aaa>li>a{
    display: block;
    line-height: 40px;
    text-decoration: none;
    color: white;
}
ul.aaa>li{
    float: left;
    margin: 0 5px;
    position: relative;
}

.ada{
    background-color: black;    
    margin: 0px;
    padding: 0px;
    margin-left: 40px;
    list-style: none;
    width: 200px;
    position: absolute;
    display: none;
    border-bottom: 1px double whitesmoke;
    border-left: 1px double whitesmoke;
    border-right: 1px double whitesmoke;
}

.ada>li>a{
    display: block;
    line-height: 20px; 
    padding: 5px 10px;
}

.ada>li>a:hover{
    color: red;
    font-weight: bolder;
    display: block;
}

.aaa>li:hover>.ada{
    display: block;
}

.container > footer{
    line-height: 30px;
    text-align:center;
    font-variant:small-caps;
    clear:both;
}

.box-class {
    font-size: 17.4px;
    font-weight: 700;
    line-height: 1;
    margin-top: 10px;
    margin-bottom: 21px;
    padding-left: 5px;
}

.box-item {
    font-size: 12px;
    text-decoration: none;
    color: white;
    text-align: left;
}

a{
    color: white;
    text-decoration: none;
    padding: 0px 10px;
    font-family: Arial;
}

.checkboxes-item {
    vertical-align: middle;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    border: solid 1px #97a3b9;
    background-color: #fff;
    margin-right: 10;
    position: relative;
}

/*
.checkboxes-item label {
    display: inline-block;
    padding-right: 10px;
    white-space: normal;
}
.checkboxes-item input {
    vertical-align: middle;
    position: relative;
    right: 10px;
}
.checkboxes-item label a{
    vertical-align: middle;
    padding: 0;
}
*/

.v-header {
    z-index: 100;
}

.v-logo2>img {
    position: absolute;
    z-index: 10;
    display: inline-block;
    margin-left: 15%;
    margin-top: 5px;
    width: 150px;
    min-height: auto;
}

.vsearch *.example {
    box-sizing: border-box;
}

.vsearch form.example {
    font-family: Arial;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    max-width: 500px;
    text-decoration: none;
}

.vsearch form.example input[type=text] {
    padding: 10px;
    font-size: 12px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

.vsearch form.example button {
    float: left;
    width: 15%;
    padding: 10px;
    background: black;
    color: white;
    font-size: 12px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

.vsearch form.example::after {
    content: "";
    clear: both;
    display: table;
}

li {
    list-style: none;
}

i {
    font-style: italic;
}
.column .san-pham .box {
    margin: 0;
    background-color: none;
    box-shadow: 0px 0px 5px #ccc;
    position: relative;
}

.column .san-pham .box .box-img {
    opacity: 1;
    transition: 0.5s ease;
    backface-visibility: hidden;
}

.column .san-pham .box:hover .box-img {
    opacity: 0.3;
}
