.khung{
    height: 100%;
    width: 867px;
    padding: 5px 5px;
    border: 1px solid black;
    float: left;
}

.tintuc{
    float: right;
    padding-right: 5px;
}

.tintuc img{
    height: 200px;
    width: 300px;
}

.tacgia img{
    align: left;
    height: 30px;
    width: 30px;
    padding-left: 5px;
}
.tentacgia{
    color: #ccc;
    padding-left: 5px;
}

.tintuc a{
    vertical-align: top;
    margin: 0 0 4px;
    padding-left: 5px;
}

.chuindam{
    margin: 0 0 4px;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 10px;
    padding-left: 5px;
}

.binhthuong{
    padding-left: 5px;
    text-align: left;
    margin: 0 0 4px;
}